/.venv
/build
/.snakemake
/__pycache__
/**/__pycache__
/**/*.egg-info
*.pdf
/*test*
/Snakefile*
config.yaml
dag_snakefile.sh
/hmms_folder
/temp
/slurm*
/parallel*
/*.log
/samples_table.tsv
/list_samples.txt
/gmsetup.yaml
/logs_slurm
/images/modules_DAG*
.DS_Store
# Sphinx documentation
/docs/build
