$link-color: $blue-000;

.site-footer {
    @include container;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: $sp-4;
    padding-bottom: $sp-4;
    color: $grey-dk-000;
    @include fs-2;
  
    @include mq(md) {
      position: static;
      justify-self: end;
    }
  }
  