alabaster
anyio
Babel
beautifulsoup4
certifi
charset-normalizer
click
colorama
docutils
furo==2024.7.18
h11
idna
imagesize
Jinja2
Markdown
markdown-it-py
MarkupSafe
mdit-py-plugins
mdurl
myst-parser
packaging
Pygments
PyYAML
requests
setuptools
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx-autobuild
sphinx-basic-ng
sphinx-copybutton
sphinx-markdown-tables
sphinx_design
sphinx_inline_tabs
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxext-opengraph
starlette
urllib3
uvicorn
watchfiles
websockets
